In [1]:
import pandas as pd
import math
import numpy as np

In [3]:
# Read US Universities Data
us_uni_data = pd.read_excel("us_universities.xlsx", sheet_name="Feuil1")

FileNotFoundError: [Errno 2] No such file or directory: 'us_universities.xlsx'

In [7]:
us_uni_data.head()

,Geo Point,Geo Shape,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,"40.51034, -74.269901","{""coordinates"":[-74.269901,40.51034],""type"":""P...",2,481429,UNIVERSAL TRAINING INSTITUTE,174 JEFFERSON STREET,PERTH AMBOY,NJ,8861,4106,...,NOT AVAILABLE,-2,1,-999,176,176,2,-999,15,NOT AVAILABLE
1,"30.196152736000045, -81.750962384","{""coordinates"":[-81.750962384,30.1961527360000...",107,487436,FLORIDA CAREER COLLEGE-JACKSONVILLE,6600 YOUNGERMAN CIRCLE,JACKSONVILLE,FL,32244,6663,...,NOT AVAILABLE,-2,1,-999,684,684,2,-999,51,NOT AVAILABLE
2,"37.059806870000045, -100.91769495299997","{""coordinates"":[-100.91769495299997,37.0598068...",142,155858,SEWARD COUNTY COMMUNITY COLLEGE,1801 N. KANSAS AVE.,LIBERAL,KS,67901,NOT AVAILABLE,...,SCCC,4,2,902,678,1580,1,240,261,NOT AVAILABLE
3,"38.21978295900004, -98.20996615899998","{""coordinates"":[-98.20996615899998,38.21978295...",143,155937,STERLING COLLEGE,125 W. COOPER,STERLING,KS,67579,NOT AVAILABLE,...,SC,22,1,136,542,678,1,635,172,NOT AVAILABLE
4,"25.75711093600006, -80.37759051699999","{""coordinates"":[-80.37759051699999,25.75711093...",148,133951,FLORIDA INTERNATIONAL UNIVERSITY,11200 S. W. 8 STREET,MIAMI,FL,33199,NOT AVAILABLE,...,FIU,15,5,23980,34856,58836,1,3710,6574,NOT AVAILABLE

In [17]:
# Get the data dimension
us_uni_data.shape

(6559, 45)

In [18]:
# Summary
us_uni_data.describe

<bound method NDFrame.describe of                                     Geo Point  \
0                        40.51034, -74.269901
1           30.196152736000045, -81.750962384
2     37.059806870000045, -100.91769495299997
3       38.21978295900004, -98.20996615899998
4       25.75711093600006, -80.37759051699999
...                                       ...
6554   46.21205972900003, -119.16192006499995
6555   35.47143955400003, -120.65278398599997
6556  32.827544214000056, -115.50397685999997
6557   18.150789304000057, -65.82456820299996
6558   32.378447212000026, -86.31101660699994

                                              Geo Shape  OBJECTID  IPEDSID  \
0     {"coordinates":[-74.269901,40.51034],"type":"P...         2   481429
1     {"coordinates":[-81.750962384,30.1961527360000...       107   487436
2     {"coordinates":[-100.91769495299997,37.0598068...       142   155858
3     {"coordinates":[-98.20996615899998,38.21978295...       143   155937
4     {"coordinates":[-80.37759051699999,25.75711093...       148   133951
...                                                 ...       ...      ...
6554  {"coordinates":[-119.16192006499995,46.2120597...      6404   495147
6555  {"coordinates":[-120.65278398599997,35.4714395...      6431   495943
6556  {"coordinates":[-115.50397685999997,32.8275442...      6495   494135
6557  {"coordinates":[-65.82456820299996,18.15078930...      6506   494278
6558  {"coordinates":[-86.31101660699994,32.37844721...      6514   494366

                                        NAME                        ADDRESS  \
0               UNIVERSAL TRAINING INSTITUTE           174 JEFFERSON STREET
1        FLORIDA CAREER COLLEGE-JACKSONVILLE         6600 YOUNGERMAN CIRCLE
2            SEWARD COUNTY COMMUNITY COLLEGE            1801 N. KANSAS AVE.
3                           STERLING COLLEGE                  125 W. COOPER
4           FLORIDA INTERNATIONAL UNIVERSITY           11200 S. W. 8 STREET
...                                      ...                            ...
6554          GATHER 4 HIM CHRISTIAN COLLEGE    3021 WEST CLEARWATER AVENUE
6555   SAN JOAQUIN VALLEY COLLEGE-ATASCADERO            8845 EL CAMINO REAL
6556             COLUMBIA COLLEGE - IMPERIAL               380 E. ATEN ROAD
6557   EDP UNIVERSITY OF PUERTO RICO-HUMACAO  ANTONIO LOPEZ STREET #4 AND 6
6558  STRAYER UNIVERSITY - MONTGOMERY CAMPUS     79 COMMERCE STREET SUITE C

              CITY STATE    ZIP           ZIP4  ...          ALIAS  SIZE_SET  \
0      PERTH AMBOY    NJ   8861           4106  ...  NOT AVAILABLE        -2
1     JACKSONVILLE    FL  32244           6663  ...  NOT AVAILABLE        -2
2          LIBERAL    KS  67901  NOT AVAILABLE  ...           SCCC         4
3         STERLING    KS  67579  NOT AVAILABLE  ...             SC        22
4            MIAMI    FL  33199  NOT AVAILABLE  ...            FIU        15
...            ...   ...    ...            ...  ...            ...       ...
6554     KENNEWICK    WA  99336           5144  ...  NOT AVAILABLE        -2
6555    ATASCADERO    CA  93422           5333  ...  NOT AVAILABLE        -2
6556      IMPERIAL    CA  92251           0158  ...  NOT AVAILABLE        -2
6557       HUMACAO    PR    791           0000  ...  NOT AVAILABLE        -2
6558    MONTGOMERY    AL  36104           3529  ...  NOT AVAILABLE        -2

     INST_SIZE  PT_ENROLL FT_ENROLL TOT_ENROLL HOUSING  DORM_CAP  TOT_EMP  \
0            1       -999       176        176       2      -999       15
1            1       -999       684        684       2      -999       51
2            2        902       678       1580       1       240      261
3            1        136       542        678       1       635      172
4            5      23980     34856      58836       1      3710     6574
...        ...        ...       ...        ...     ...       ...      ...
6554         1         11        29         40       2      -999       20
6555         1       -999        63         63       2      -999        7
6556        -2       -999      -999       -999      -1      -999     -999
6557         1        105        77        182       2      -999       16
6558        -2       -999      -999       -999      -1      -999     -999

         SHELTER_ID
0     NOT AVAILABLE
1     NOT AVAILABLE
2     NOT AVAILABLE
3     NOT AVAILABLE
4     NOT AVAILABLE
...             ...
6554  NOT AVAILABLE
6555  NOT AVAILABLE
6556  NOT AVAILABLE
6557  NOT AVAILABLE
6558  NOT AVAILABLE

[6559 rows x 45 columns]>

In [21]:
# Data types of columns
us_uni_data.dtypes

Geo Point      object
Geo Shape      object
OBJECTID        int64
IPEDSID         int64
NAME           object
ADDRESS        object
CITY           object
STATE          object
ZIP             int64
ZIP4           object
TELEPHONE      object
TYPE            int64
STATUS         object
POPULATION      int64
COUNTY         object
COUNTYFIPS     object
COUNTRY        object
LATITUDE      float64
LONGITUDE     float64
NAICS_CODE      int64
NAICS_DESC     object
SOURCE         object
SOURCEDATE     object
VAL_METHOD     object
VAL_DATE       object
WEBSITE        object
STFIPS         object
COFIPS         object
SECTOR          int64
LEVEL_          int64
HI_OFFER        int64
DEG_GRANT       int64
LOCALE          int64
CLOSE_DATE     object
MERGE_ID        int64
ALIAS          object
SIZE_SET        int64
INST_SIZE       int64
PT_ENROLL       int64
FT_ENROLL       int64
TOT_ENROLL      int64
HOUSING         int64
DORM_CAP        int64
TOT_EMP         int64
SHELTER_ID     object
dtype: object

In [10]:
missing_values = us_uni_data.isna().sum()
print("Column wise unknown or missing values in Daibetes Data Set:\n", missing_values)

Column wise unknown or missing values in Daibetes Data Set:
 Geo Point     0
Geo Shape     0
OBJECTID      0
IPEDSID       0
NAME          0
ADDRESS       1
CITY          0
STATE         0
ZIP           0
ZIP4          0
TELEPHONE     0
TYPE          0
STATUS        0
POPULATION    0
COUNTY        0
COUNTYFIPS    0
COUNTRY       0
LATITUDE      0
LONGITUDE     0
NAICS_CODE    0
NAICS_DESC    0
SOURCE        0
SOURCEDATE    0
VAL_METHOD    0
VAL_DATE      0
WEBSITE       0
STFIPS        0
COFIPS        0
SECTOR        0
LEVEL_        0
HI_OFFER      0
DEG_GRANT     0
LOCALE        0
CLOSE_DATE    0
MERGE_ID      0
ALIAS         1
SIZE_SET      0
INST_SIZE     0
PT_ENROLL     0
FT_ENROLL     0
TOT_ENROLL    0
HOUSING       0
DORM_CAP      0
TOT_EMP       0
SHELTER_ID    0
dtype: int64

In [11]:
for col in us_uni_data.columns:
    unique_vals = us_uni_data[col].unique()
    print(f"Unique values in {col}: {unique_vals}")

Unique values in Geo Point: ['40.51034, -74.269901' '30.196152736000045, -81.750962384'
 '37.059806870000045, -100.91769495299997' ...
 '32.827544214000056, -115.50397685999997'
 '18.150789304000057, -65.82456820299996'
 '32.378447212000026, -86.31101660699994']
Unique values in Geo Shape: ['{"coordinates":[-74.269901,40.51034],"type":"Point"}'
 '{"coordinates":[-81.750962384,30.196152736000045],"type":"Point"}'
 '{"coordinates":[-100.91769495299997,37.059806870000045],"type":"Point"}'
 ...
 '{"coordinates":[-115.50397685999997,32.827544214000056],"type":"Point"}'
 '{"coordinates":[-65.82456820299996,18.150789304000057],"type":"Point"}'
 '{"coordinates":[-86.31101660699994,32.378447212000026],"type":"Point"}']
Unique values in OBJECTID: [   2  107  142 ... 6495 6506 6514]
Unique values in IPEDSID: [481429 487436 155858 ... 495943 494135 494366]
Unique values in NAME: ['UNIVERSAL TRAINING INSTITUTE' 'FLORIDA CAREER COLLEGE-JACKSONVILLE'
 'SEWARD COUNTY COMMUNITY COLLEGE' ...
 'SAN JOAQUIN VALLEY COLLEGE-ATASCADERO' 'COLUMBIA COLLEGE - IMPERIAL'
 'STRAYER UNIVERSITY - MONTGOMERY CAMPUS']
Unique values in ADDRESS: ['174 JEFFERSON STREET' '6600 YOUNGERMAN CIRCLE' '1801 N. KANSAS AVE.' ...
 '3021 WEST CLEARWATER AVENUE' '8845 EL CAMINO REAL'
 '79 COMMERCE STREET SUITE C']
Unique values in CITY: ['PERTH AMBOY' 'JACKSONVILLE' 'LIBERAL' ... 'COLUMBIA STATION' 'PETALUMA'
 'ATASCADERO']
Unique values in STATE: ['NJ' 'FL' 'KS' 'IA' 'WV' 'IN' 'CA' 'MN' 'OK' 'TX' 'OR' 'PA' 'NC' 'CT'
 'TN' 'SC' 'OH' 'MA' 'GA' 'NY' 'MO' 'LA' 'UT' 'MI' 'AR' 'DC' 'ND' 'PR'
 'NE' 'WI' 'VA' 'CO' 'IL' 'KY' 'MT' 'MD' 'RI' 'MS' 'ID' 'NV' 'ME' 'NM'
 'AZ' 'WA' 'DE' 'NH' 'SD' 'AL' 'MP' 'WY' 'VT' 'AK' 'GU' 'HI' 'MH' 'VI'
 'AS' 'PW' 'FM']
Unique values in ZIP: [ 8861 32244 67901 ... 44028 94952 93422]
Unique values in ZIP4: ['4106' '6663' 'NOT AVAILABLE' ... '4633' '5144' '5333']
Unique values in TELEPHONE: ['(732) 826-0155 EXT 106' '(904) 418-5201' '(620) 624-1951' ...
 '(707) 765-1836' '(509) 420-4545' '(787) 719-2236']
Unique values in TYPE: [ 3  1  2 -3]
Unique values in STATUS: ['A' 'M' 'R' 'G' 'N' 'C' 'D']
Unique values in POPULATION: [ 191  735 1841 ... 1196 1161 5565]
Unique values in COUNTY: ['MIDDLESEX' 'DUVAL' 'SEWARD' ... 'TAOS' 'ITASCA' 'PEARL RIVER']
Unique values in COUNTYFIPS: ['34023' '12031' '20175' ... '21209' '27061' '28109']
Unique values in COUNTRY: ['USA' 'PRI' 'MNP' 'GUM' 'MHL' 'VIR' 'ASM' 'PLW' 'FSM']
Unique values in LATITUDE: [40.51034    30.19615274 37.05980687 ... 32.82754421 18.1507893
 32.37844721]
Unique values in LONGITUDE: [ -74.269901    -81.75096238 -100.91769495 ... -115.50397686  -65.8245682
  -86.31101661]
Unique values in NAICS_CODE: [611519 611210 611310 611511 611710 611610 611410 611420 611512]
Unique values in NAICS_DESC: ['OTHER TECHNICAL AND TRADE SCHOOLS' 'JUNIOR COLLEGES'
 'COLLEGES, UNIVERSITIES, AND PROFESSIONAL SCHOOLS'
 'COSMETOLOGY AND BARBER SCHOOLS' 'EDUCATIONAL SUPPORT SERVICES'
 'FINE ARTS SCHOOLS' 'BUSINESS AND SECRETARIAL SCHOOLS'
 'COMPUTER TRAINING' 'FLIGHT TRAINING']
Unique values in SOURCE: ['https://nces.ed.gov/collegenavigator/?id=481429'
 'https://nces.ed.gov/collegenavigator/?id=487436'
 'https://nces.ed.gov/collegenavigator/?id=155858' ...
 'https://nces.ed.gov/GLOBALLOCATOR/col_info_popup.asp?ID=494135'
 'https://nces.ed.gov/GLOBALLOCATOR/col_info_popup.asp?ID=494278'
 'https://nces.ed.gov/GLOBALLOCATOR/col_info_popup.asp?ID=494366']
Unique values in SOURCEDATE: ['2015-08-10T00:00:00Z' '2018-02-13T00:00:00Z' '2009-10-13T00:00:00Z'
 '2009-12-31T00:00:00Z' '2018-04-10T00:00:00Z' '2013-06-25T00:00:00Z'
 '2016-01-21T00:00:00Z' '2009-12-10T00:00:00Z' '2011-06-02T00:00:00Z'
 '2013-11-04T00:00:00Z' '2018-11-06T00:00:00Z' '2020-11-03T00:00:00Z'
 '2021-10-13T00:00:00Z' '2011-06-01T00:00:00Z' '2019-12-04T00:00:00Z'
 '2020-09-15T00:00:00Z' '2018-11-16T00:00:00Z' '2019-02-27T00:00:00Z']
Unique values in VAL_METHOD: ['IMAGERY/OTHER' 'IMAGERY' 'GEOCODE' 'UNVERIFIED']
Unique values in VAL_DATE: ['2015-11-12T00:00:00Z' '2018-02-16T00:00:00Z' '2016-08-10T00:00:00Z'
 '2016-07-07T00:00:00Z' '2018-04-10T00:00:00Z' '2022-05-25T00:00:00Z'
 '2016-08-17T00:00:00Z' '2019-04-16T00:00:00Z' '2016-08-18T00:00:00Z'
 '2019-03-19T00:00:00Z' '2016-08-19T00:00:00Z' '2016-08-16T00:00:00Z'
 '2015-10-20T00:00:00Z' '2016-05-25T00:00:00Z' '2016-08-24T00:00:00Z'
 '2022-06-25T00:00:00Z' '2016-08-15T00:00:00Z' '2020-01-31T00:00:00Z'
 '2016-08-12T00:00:00Z' '2015-08-26T00:00:00Z' '2016-01-21T00:00:00Z'
 '2016-01-22T00:00:00Z' '2016-08-11T00:00:00Z' '2019-04-23T00:00:00Z'
 '2015-11-10T00:00:00Z' '2019-03-27T00:00:00Z' '2016-07-08T00:00:00Z'
 '2015-10-27T00:00:00Z' '2015-11-17T00:00:00Z' '2016-08-01T00:00:00Z'
 '2015-10-21T00:00:00Z' '2019-03-14T00:00:00Z' '2016-06-08T00:00:00Z'
 '2016-05-20T00:00:00Z' '2016-06-29T00:00:00Z' '2016-06-15T00:00:00Z'
 '2016-06-16T00:00:00Z' '2016-07-01T00:00:00Z' '2015-11-20T00:00:00Z'
 '2015-10-14T00:00:00Z' '2016-06-17T00:00:00Z' '2019-03-28T00:00:00Z'
 '2016-06-21T00:00:00Z' '2016-07-05T00:00:00Z' '2016-07-06T00:00:00Z'
 '2016-05-19T00:00:00Z' '2020-01-29T00:00:00Z' '2016-06-09T00:00:00Z'
 '2015-11-03T00:00:00Z' '2015-10-16T00:00:00Z' '2016-06-14T00:00:00Z'
 '2019-01-29T00:00:00Z' '2015-10-28T00:00:00Z' '2016-05-24T00:00:00Z'
 '2019-01-31T00:00:00Z' '2019-03-25T00:00:00Z' '2016-08-22T00:00:00Z'
 '2015-11-24T00:00:00Z' '2016-07-29T00:00:00Z' '2016-08-08T00:00:00Z'
 '2016-06-03T00:00:00Z' '2016-08-05T00:00:00Z' '2016-07-27T00:00:00Z'
 '2016-06-06T00:00:00Z' '2019-04-05T00:00:00Z' '2019-01-24T00:00:00Z'
 '2016-06-22T00:00:00Z' '2016-06-30T00:00:00Z' '2016-06-07T00:00:00Z'
 '2018-11-09T00:00:00Z' '2020-11-03T00:00:00Z' '2018-02-19T00:00:00Z'
 '2015-11-09T00:00:00Z' '2016-05-26T00:00:00Z' '2016-08-23T00:00:00Z'
 '2016-08-09T00:00:00Z' '2019-02-01T00:00:00Z' '2019-04-12T00:00:00Z'
 '2019-03-07T00:00:00Z' '2016-07-14T00:00:00Z' '2016-05-18T00:00:00Z'
 '2016-07-15T00:00:00Z' '2016-08-03T00:00:00Z' '2016-06-02T00:00:00Z'
 '2019-04-08T00:00:00Z' '2016-06-01T00:00:00Z' '2016-06-10T00:00:00Z'
 '2019-03-18T00:00:00Z' '2015-11-23T00:00:00Z' '2016-06-20T00:00:00Z'
 '2016-06-24T00:00:00Z' '2019-04-11T00:00:00Z' '2019-03-20T00:00:00Z'
 '2015-11-05T00:00:00Z' '2016-06-13T00:00:00Z' '2019-03-21T00:00:00Z'
 '2016-07-18T00:00:00Z' '2016-07-28T00:00:00Z' '2016-07-13T00:00:00Z'
 '2016-07-26T00:00:00Z' '2016-08-04T00:00:00Z' '2019-01-30T00:00:00Z'
 '2016-05-31T00:00:00Z' '2018-11-08T00:00:00Z' '2019-12-16T00:00:00Z'
 '2021-05-12T00:00:00Z' '2019-04-01T00:00:00Z' '2016-05-23T00:00:00Z'
 '2020-01-30T00:00:00Z' '2016-07-11T00:00:00Z' '2016-07-12T00:00:00Z'
 '2019-02-25T00:00:00Z' '2019-04-15T00:00:00Z' '2020-02-10T00:00:00Z'
 '2019-03-22T00:00:00Z' '2015-10-15T00:00:00Z' '2015-12-01T00:00:00Z'
 '2015-10-29T00:00:00Z' '2015-08-25T00:00:00Z' '2015-11-04T00:00:00Z'
 '2016-06-27T00:00:00Z' '2016-05-27T00:00:00Z' '2016-07-22T00:00:00Z'
 '2016-06-23T00:00:00Z' '2016-08-02T00:00:00Z' '2019-03-26T00:00:00Z'
 '2018-11-12T00:00:00Z' '2019-12-13T00:00:00Z' '2018-02-15T00:00:00Z'
 '2015-09-02T00:00:00Z' '2015-09-04T00:00:00Z' '2016-07-25T00:00:00Z'
 '2019-03-06T00:00:00Z' '2015-10-23T00:00:00Z' '2019-03-29T00:00:00Z'
 '2015-11-19T00:00:00Z' '2016-07-19T00:00:00Z' '2016-06-28T00:00:00Z'
 '2019-03-11T00:00:00Z' '2015-11-02T00:00:00Z' '2022-06-30T00:00:00Z'
 '2019-04-04T00:00:00Z' '2019-12-18T00:00:00Z' '2015-11-13T00:00:00Z'
 '2016-08-25T00:00:00Z' '2019-01-28T00:00:00Z' '2015-10-19T00:00:00Z'
 '2018-11-15T00:00:00Z' '2019-04-25T00:00:00Z' '2018-02-20T00:00:00Z'
 '2019-04-09T00:00:00Z' '2015-10-26T00:00:00Z' '2018-11-07T00:00:00Z'
 '2018-11-13T00:00:00Z' '2015-10-13T00:00:00Z' '2015-11-18T00:00:00Z'
 '2019-04-10T00:00:00Z' '2019-03-08T00:00:00Z' '2019-03-13T00:00:00Z'
 '2015-11-06T00:00:00Z' '2015-11-25T00:00:00Z' '2015-11-11T00:00:00Z'
 '2019-12-17T00:00:00Z' '2019-04-02T00:00:00Z' '2019-04-18T00:00:00Z'
 '2019-04-22T00:00:00Z' '2019-01-25T00:00:00Z' '2019-03-15T00:00:00Z'
 '2015-09-03T00:00:00Z' '2015-10-30T00:00:00Z' '2015-11-16T00:00:00Z'
 '2019-12-12T00:00:00Z' '2018-11-16T00:00:00Z' '2019-03-12T00:00:00Z'
 '2019-02-04T00:00:00Z' '2019-04-17T00:00:00Z' '2022-07-18T00:00:00Z'
 '2015-11-30T00:00:00Z' '2015-10-12T00:00:00Z' '2020-02-11T00:00:00Z'
 '2019-04-03T00:00:00Z' '2020-02-19T00:00:00Z' '2018-11-06T00:00:00Z'
 '2019-02-22T00:00:00Z' '2019-04-24T00:00:00Z']
Unique values in WEBSITE: ['www.universaluti.edu/' 'https://www.floridacareercollege.edu/'
 'www.sccc.edu/' ... 'meridianuniversity.edu/' 'picollege.edu/'
 'https://college.gather4him.net/']
Unique values in STFIPS: ['34' '12' '20' '19' '54' '18' '06' '27' '40' '48' '41' '42' '37' '09'
 '47' '45' '39' '25' '13' '36' '29' '22' '49' '26' '05' '11' '38' '72'
 '31' '55' '51' '08' '17' '21' '30' '24' '44' '28' '16' '32' '23' '35'
 '04' '53' '10' '33' '46' '01' '69' '56' '50' '02' '66' '15'
 'NOT AVAILABLE' '78' '60']
Unique values in COFIPS: ['023' '031' '175' '159' '086' '187' '003' '097' '019' '137' '151' '085'
 '051' '005' '201' '091' '071' '007' '109' '009' '101' '037' '055' '017'
 '173' '013' '057' '061' '119' '079' '095' '103' '065' '125' '027' '001'
 '285' '077' '047' '131' '029' '011' '063' '073' '089' '183' '025' '510'
 '083' '053' '041' '067' '127' '113' '169' '021' '045' '111' '139' '135'
 '099' '133' '375' '093' '161' '155' '191' '035' '043' '195' '049' '039'
 '115' '469' '105' '193' '081' '145' '121' '087' '660' '015' '059' '123'
 '439' '033' '167' '157' '189' '481' '141' '179' '069' '265' '129' '710'
 '171' '149' '107' '233' '299' '760' '110' '147' '239' '680' '163' '453'
 '215' '770' '177' '520' '165' '143' '075' '441' '020' '810' '491' '028'
 '730' '499' '700' '257' '477' '277' '153' '010' '203' '185' '790' '339'
 '117' '197' '090' '303' '209' '323' '650' '261' '235' '329' '245' '181'
 '247' '225' '678' '243' '590' '550' '231' '451' '570' '355' '449' '217'
 '241' '423' 'NOT AVAILABLE' '630' '471' '479' '279' '213' '775' '255'
 '487' '227' '415' '199' '251' '620' '281' '205' '275' '219' '473' '309'
 '830' '122' '750' '367' '170' '313' '030' '800' '840' '050' '381' '273'
 '485' '102' '006' '463' '361' '365' '078' '349' '347' '311' '409' '014'
 '530']
Unique values in SECTOR: [ 9  6  4  2  1  3  7  5 99  0  8]
Unique values in LEVEL_: [ 1  2  3 -3]
Unique values in HI_OFFER: [ 0 40 20 11 13 30 14 12 -3  2  7  3  4  5  9  1]
Unique values in DEG_GRANT: [ 2  1 -3]
Unique values in LOCALE: [21 11 33 42 22 13 41 12 32 43 23 31 -3]
Unique values in CLOSE_DATE: ['-2' '09/13/2020' '12/31/2020' '12/07/2020' '07/29/2020' '08/21/2020'
 '10/23/2020' '12/19/2019' '12/23/2020' '06/19/2020' '02/28/2020'
 '02/26/2021' '03/31/2020' '07/26/2020' '06/25/2020' '08/13/2020'
 '07/11/2020' '10/16/2020' '03/05/2020' '03/23/2020' '09/17/2020'
 '06/11/2020' '07/01/2020' '06/30/2020' '02/08/2021' '07/17/2020'
 '07/31/2020' '01/29/2021' '08/07/2019' '04/27/2020' '08/29/2020'
 '04/26/2020' '03/02/2020' '12/17/2020' '05/08/2020' '02/05/2021'
 '01/01/2021' '12/28/2020' '01/07/2021' '09/27/2020' '10/31/2020'
 '04/30/2020' '11/16/2020' '05/16/2020' '07/16/2019']
Unique values in MERGE_ID: [    -2 455196 177065 242972 450988 495767 190549 224615 490221 483258
 136826 207500 114734 143297 124292 137351 455956 486169 444732 194763
 179043 168847 461087 104151 125091 169479 233277 480028 171100 444529
 461856 121691 195544 444343 495013 447847 155353 475033 459374 148487
 227979 450377 483124 130174 168555 147369 461829 145600 151801 235237
 476993 484862 475015 223001 484002 491756 169080 449700 180489 491783]
Unique values in ALIAS: ['NOT AVAILABLE' 'SCCC' 'SC' ... 'BENNETT COLLEGE / BENNETT'
 "MOUNT ST. MARY'S SEMINARY & SCHOOL OF THEOLOGY"
 'UNION THEOLOGICAL SEMINARY']
Unique values in SIZE_SET: [-2  4 22 15  5 18 25 21  6  2 26 19  1 32 24 30  8 10  7 13 11 23 14  3
 16  9 31 20 17 29 33 12 27 28]
Unique values in INST_SIZE: [ 1  2  5  4  3 -2 -1]
Unique values in PT_ENROLL: [-999  902  136 ...  359 2317 1266]
Unique values in FT_ENROLL: [ 176  684  678 ... 2644 4409 3799]
Unique values in TOT_ENROLL: [ 176  684 1580 ... 6726 1298 5065]
Unique values in HOUSING: [ 2  1 -1 -2]
Unique values in DORM_CAP: [-999  240  635 ...  975   51 1654]
Unique values in TOT_EMP: [   15    51   261 ...  1961  1774 12921]
Unique values in SHELTER_ID: ['NOT AVAILABLE' '10796133' '10784233' '10800160' '10792281' '10805113'
 '10813708' '10803035' '10809875' '10817186' '10775152' '10815973'
 '10824144' '10820596' '10786459' '10822794' '10782029' '10806415'
 '10786724' '10793735' '10776662' '10780191' '10805623' '10781388'
 '10823358' '10805902' '10802823' '10782016' '10784175' '10785506'
 '10819822' '10798591' '10782614' '10785434' '10784054' '10822456'
 '10812394' '10800154' '10795970' '10812340' '10810697' '10808792'
 '10812396' '10818712' '10782062' '10804995' '10778974' '10806134'
 '10805788' '10815487' '10774410' '10791593' '10810089' '10779950'
 '10798150' '10812401' '10803044' '10780775' '10776069' '10779771'
 '10780431' '10797667' '10805254' '10782302' '10780662' '10794654'
 '10776582' '10776174' '10816234' '10788467' '10783812' '10782895'
 '10813165' '10802353' '10779479' '10800296' '10815427' '10780412'
 '10806605' '10818850' '10801291' '10792070' '10818849' '10820948'
 '10810200' '10778286' '10816379' '10806211' '10818010' '10788946'
 '10806883' '10799465' '10774465' '10779511' '10806500' '10791806'
 '10813220' '10777349' '10822636' '10779493' '10806873' '10778094'
 '10820573' '10816032' '10792114' '10805793' '10814034' '10785008'
 '10822914' '10816517' '10787577' '10795861' '10781857' '10794662'
 '10810235' '10806319' '10779946' '10822654' '10788648' '10816823'
 '10792352' '10804646' '10796714' '10785432' '10790236' '10792457'
 '10812996' '10775449' '10782349' '10805653' '10780531' '10820592'
 '10803746' '10780760' '10793114' '10809977' '10801623' '10824143'
 '10788780' '10811991' '10783959' '10812387' '10815850' '10802496'
 '10820505' '10803876' '10781312' '10784329' '10784996' '10809955'
 '10800351' '10804853' '10780733' '10813475' '10777104' '10804705'
 '10792787' '10787076' '10782180' '10798829' '10784318' '10776667'
 '10816597' '10820633' '10822665' '10779561' '10812471' '10784164'
 '10808525' '10790049' '10817726' '10778562' '10783096' '10822024'
 '10794048' '10810946' '10801353' '10816502' '10775436' '10788385'
 '10822030' '10812389' '10786287' '10823201' '10777040' '10784548'
 '10790582' '10812390' '10801021' '10817388' '10798514' '10809789'
 '10780726' '10810268' '10820593' '10798347' '10810747' '10788306'
 '10821074' '10809262' '10801927' '10798198' '10782122' '10784977'
 '10778318' '10813857' '10811790' '10819179' '10794506' '10824323'
 '10776468' '10812402' '10798345' '10819985' '10779412' '10783545'
 '10819108' '10813537' '10821692' '10805390' '10794444' '10789019'
 '10798849' '10799232' '10774707' '10804603' '10805265' '10806347'
 '10779830' '10808435' '10820039' '10790692' '10791420' '10804549'
 '10776165']

In [12]:
# Number of unique values in each column
for column in us_uni_data.columns:
    num_unique_vals = us_uni_data[column].nunique()
    print(f"{column}: {num_unique_vals}")

Geo Point: 6558
Geo Shape: 6558
OBJECTID: 6559
IPEDSID: 6474
NAME: 6350
ADDRESS: 6393
CITY: 2356
STATE: 59
ZIP: 4416
ZIP4: 2240
TELEPHONE: 6077
TYPE: 4
STATUS: 7
POPULATION: 3166
COUNTY: 1044
COUNTYFIPS: 1467
COUNTRY: 9
LATITUDE: 6558
LONGITUDE: 6557
NAICS_CODE: 9
NAICS_DESC: 9
SOURCE: 6559
SOURCEDATE: 18
VAL_METHOD: 4
VAL_DATE: 185
WEBSITE: 5682
STFIPS: 57
COFIPS: 203
SECTOR: 11
LEVEL_: 4
HI_OFFER: 16
DEG_GRANT: 3
LOCALE: 13
CLOSE_DATE: 45
MERGE_ID: 60
ALIAS: 2075
SIZE_SET: 34
INST_SIZE: 7
PT_ENROLL: 2048
FT_ENROLL: 2574
TOT_ENROLL: 2984
HOUSING: 4
DORM_CAP: 1376
TOT_EMP: 1501
SHELTER_ID: 235

In [165]:
mask = us_uni_data['ADDRESS'].isna()

# Get the row indices of missing values
missing_value_rows = mask[mask == True].index.tolist()

# Print the location of missing values in the specified column
for row_index in missing_value_rows:
    print(f'Missing value in column ALIAS at row index {row_index}')

Missing value in column ALIAS at row index 4873

In [167]:
print("Is it null", us_uni_data['ADDRESS'].isna())

Is it null 0       False
1       False
2       False
3       False
4       False
        ...
6554    False
6555    False
6556    False
6557    False
6558    False
Name: ADDRESS, Length: 6559, dtype: bool

In [174]:
dat = math.isnan(us_uni_data.loc[4873, 'ADDRESS'])
print(dat)

True

In [177]:
# COnverting NOT AVAILABLE to nan values 
us_uni_data = us_uni_data.replace(to_replace="NOT AVAILABLE",
           value= np.nan)

In [200]:
# COnverting -999  to nan values 
us_uni_data = us_uni_data.replace(to_replace=-999,
           value= np.nan)

In [201]:
dat = us_uni_data.loc[86, 'POPULATION']
print(dat)

nan

### Detailed Analysis

**Geo point- The geographic coordinates of the university in decimal degrees**

In [23]:
# Data type
column_dtype = us_uni_data['Geo Point'].dtype
print(column_dtype)

object

In [24]:
# Missing Values in a column
missing_values = us_uni_data['Geo Point'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [27]:
unique_vals = us_uni_data['Geo Point'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Unique Values: 6558

**Geo Shape- _____**

In [30]:
# Data type
column_dtype = us_uni_data['Geo Shape'].dtype
print(column_dtype)

object

In [31]:
# Missing Values in a column
missing_values = us_uni_data['Geo Shape'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [32]:
unique_vals = us_uni_data['Geo Shape'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Unique Values: 6558

**OBJECTID- A unique identifier for the university**

In [34]:
# Data type
column_dtype = us_uni_data['OBJECTID'].dtype
print(column_dtype)

int64

In [35]:
# Missing Values in a column
missing_values = us_uni_data['OBJECTID'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [36]:
unique_vals = us_uni_data['OBJECTID'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6559

**IPEDSID- The unique identifier assigned to the institution by the IPEDS**

In [37]:
# Data type
column_dtype = us_uni_data['IPEDSID'].dtype
print(column_dtype)

int64

In [38]:
# Missing Values in a column
missing_values = us_uni_data['IPEDSID'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [39]:
unique_vals = us_uni_data['IPEDSID'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6474

**NAME- University Name**

In [41]:
# Data type
column_dtype = us_uni_data['NAME'].dtype
print(column_dtype)

object

In [42]:
# Missing Values in a column
missing_values = us_uni_data['NAME'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [43]:
unique_vals = us_uni_data['NAME'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6350

**ADDRESS- The street address of the university.**

In [44]:
# Data type
column_dtype = us_uni_data['ADDRESS'].dtype
print(column_dtype)

object

In [45]:
# Missing Values in a column
missing_values = us_uni_data['ADDRESS'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 1

In [46]:
unique_vals = us_uni_data['ADDRESS'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6393

**CITY- The city where the university is located**

In [47]:
# Data type
column_dtype = us_uni_data['CITY'].dtype
print(column_dtype)

object

In [48]:
# Missing Values in a column
missing_values = us_uni_data['CITY'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [49]:
unique_vals = us_uni_data['CITY'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 2356

**STATE- The state where the university is located.**

In [50]:
# Data type
column_dtype = us_uni_data['STATE'].dtype
print(column_dtype)

object

In [51]:
# Missing Values in a column
missing_values = us_uni_data['STATE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [52]:
unique_vals = us_uni_data['STATE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 59

**ZIP- The ZIP code of the university**

In [53]:
# Data type
column_dtype = us_uni_data['ZIP'].dtype
print(column_dtype)

int64

In [54]:
# Missing Values in a column
missing_values = us_uni_data['ZIP'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [55]:
unique_vals = us_uni_data['ZIP'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 4416

**ZIP4- The ZIP+4 code of the university**

In [178]:
# Data type
column_dtype = us_uni_data['ZIP4'].dtype
print(column_dtype)

object

In [179]:
# Missing Values in a column


missing_values = us_uni_data['ZIP4'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 3241

In [180]:
unique_vals = us_uni_data['ZIP4'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 2239

**TELEPHONE- The telephone number of the university.**

In [181]:
# Data type
column_dtype = us_uni_data['TELEPHONE'].dtype
print(column_dtype)

object

In [182]:
# Missing Values in a column
missing_values = us_uni_data['TELEPHONE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 118

In [183]:
unique_vals = us_uni_data['TELEPHONE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6076

**TYPE- ___**

In [185]:
# Data type
column_dtype = us_uni_data['TYPE'].dtype
print(column_dtype)

int64

In [186]:
# Missing Values in a column
missing_values = us_uni_data['TYPE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [187]:
unique_vals = us_uni_data['TYPE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 4

**STATUS- Accreditation status codes**

In [65]:
# Data type
column_dtype = us_uni_data['STATUS'].dtype
print(column_dtype)

object

In [66]:
# Missing Values in a column
missing_values = us_uni_data['STATUS'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [67]:
unique_vals = us_uni_data['STATUS'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 7

**POPULATION- The number of students enrolled at the university**

In [205]:
# Data type
column_dtype = us_uni_data['POPULATION'].dtype
print(column_dtype)

float64

In [203]:
# Missing Values in a column
missing_values = us_uni_data['POPULATION'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 267

In [204]:
unique_vals = us_uni_data['POPULATION'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 3165

**COUNTY- The county where the university is located.**

In [206]:
# Data type
column_dtype = us_uni_data['COUNTY'].dtype
print(column_dtype)

object

In [207]:
# Missing Values in a column
missing_values = us_uni_data['COUNTY'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 3

In [73]:
unique_vals = us_uni_data['COUNTY'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 1044

**COUNTYFIPS- The FIPS code for the county where the university is located.**

In [208]:
# Data type
column_dtype = us_uni_data['COUNTYFIPS'].dtype
print(column_dtype)

object

In [209]:
# Missing Values in a column
missing_values = us_uni_data['COUNTYFIPS'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 3

In [210]:
unique_vals = us_uni_data['COUNTYFIPS'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 1466

**COUNTRY- The country where the university is located**

In [211]:
# Data type
column_dtype = us_uni_data['COUNTRY'].dtype
print(column_dtype)

object

In [212]:
# Missing Values in a column
missing_values = us_uni_data['COUNTRY'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [213]:
unique_vals = us_uni_data['COUNTRY'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 9

**LATITUDE- The latitude of the university in decimal degrees.**

In [214]:
# Data type

column_dtype = us_uni_data['LATITUDE'].dtype
print(column_dtype)

float64

In [215]:
# Missing Values in a column
missing_values = us_uni_data['LATITUDE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [216]:
unique_vals = us_uni_data['LATITUDE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6558

**LONGITUDE- The longitude of the university in decimal degrees.**

In [217]:
# Data type
column_dtype = us_uni_data['LONGITUDE'].dtype
print(column_dtype)

float64

In [218]:
# Missing Values in a column
missing_values = us_uni_data['LONGITUDE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [219]:
unique_vals = us_uni_data['LONGITUDE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6557

**NAICS_CODE- NAICS code for the university.**

In [220]:
# Data type
column_dtype = us_uni_data['NAICS_CODE'].dtype
print(column_dtype)

int64

In [221]:
# Missing Values in a column
missing_values = us_uni_data['NAICS_CODE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [222]:
unique_vals = us_uni_data['NAICS_CODE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 9

**NAICS_DESC- The NAICS description for the university.**

In [223]:
# Data type
column_dtype = us_uni_data['NAICS_DESC'].dtype
print(column_dtype)

object

In [224]:
# Missing Values in a column
missing_values = us_uni_data['NAICS_DESC'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [225]:
unique_vals = us_uni_data['NAICS_DESC'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 9

**SOURCE- The source of the university data.**

In [226]:
# Data type
column_dtype = us_uni_data['SOURCE'].dtype
print(column_dtype)

object

In [227]:
# Missing Values in a column
missing_values = us_uni_data['SOURCE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [228]:
unique_vals = us_uni_data['SOURCE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 6559

**SOURCEDATE- The date the university data was last updated.**

In [229]:
# Data type
column_dtype = us_uni_data['SOURCEDATE'].dtype
print(column_dtype)

object

In [230]:
# Missing Values in a column
missing_values = us_uni_data['SOURCEDATE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [231]:
unique_vals = us_uni_data['SOURCEDATE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 18

**VAL_METHOD- The validation method for the university data.**

In [232]:
# Data type
column_dtype = us_uni_data['VAL_METHOD'].dtype
print(column_dtype)

object

In [233]:
# Missing Values in a column
missing_values = us_uni_data['VAL_METHOD'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [234]:
unique_vals = us_uni_data['VAL_METHOD'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 4

**VAL_DATE- The date the university data was validated.**

In [235]:
# Data type
column_dtype = us_uni_data['VAL_DATE'].dtype
print(column_dtype)

object

In [236]:
# Missing Values in a column
missing_values = us_uni_data['VAL_DATE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [237]:
unique_vals = us_uni_data['VAL_DATE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 185

**WEBSITE- The website of the university.**

In [238]:
# Data type
column_dtype = us_uni_data['WEBSITE'].dtype
print(column_dtype)

object

In [239]:
# Missing Values in a column
missing_values = us_uni_data['WEBSITE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 118

In [240]:
unique_vals = us_uni_data['WEBSITE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 5681

**STFIPS- The FIPS code for the state where the university is located.**

In [241]:
# Data type
column_dtype = us_uni_data['STFIPS'].dtype
print(column_dtype)

object

In [242]:
# Missing Values in a column
missing_values = us_uni_data['STFIPS'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 3

In [243]:
unique_vals = us_uni_data['STFIPS'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 56

**COFIPS- The FIPS code for the county where the university is located.**

In [244]:
# Data type
column_dtype = us_uni_data['COFIPS'].dtype
print(column_dtype)

object

In [245]:
# Missing Values in a column
missing_values = us_uni_data['COFIPS'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 3

In [246]:
unique_vals = us_uni_data['COFIPS'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 202

**SECTOR- The sector of the institution.**

In [247]:
# Data type
column_dtype = us_uni_data['SECTOR'].dtype
print(column_dtype)

int64

In [248]:
# Missing Values in a column
missing_values = us_uni_data['SECTOR'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [249]:
unique_vals = us_uni_data['SECTOR'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 11

**LEVEL_- The level of the institution.**

In [117]:
# Data type
column_dtype = us_uni_data['LEVEL_'].dtype
print(column_dtype)

int64

In [118]:
# Missing Values in a column
missing_values = us_uni_data['LEVEL_'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [119]:
unique_vals = us_uni_data['LEVEL_'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 4

**HI_OFFER- The highest level of degree offered by the institution.**

In [120]:
# Data type
column_dtype = us_uni_data['HI_OFFER'].dtype
print(column_dtype)

int64

In [121]:
# Missing Values in a column
missing_values = us_uni_data['HI_OFFER'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [122]:
unique_vals = us_uni_data['HI_OFFER'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 16

**DEG_GRANT- The types of degrees granted by the institution.**

In [123]:
# Data type
column_dtype = us_uni_data['DEG_GRANT'].dtype
print(column_dtype)

int64

In [124]:
# Missing Values in a column
missing_values = us_uni_data['DEG_GRANT'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [125]:
unique_vals = us_uni_data['DEG_GRANT'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 3

**LOCALE- The degree of urbanization of the institution's location.**

In [126]:
# Data type
column_dtype = us_uni_data['LOCALE'].dtype
print(column_dtype)

int64

In [127]:
# Missing Values in a column
missing_values = us_uni_data['LOCALE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [128]:
unique_vals = us_uni_data['LOCALE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 13

**CLOSE_DATE- The date the institution closed.**

In [129]:
# Data type
column_dtype = us_uni_data['CLOSE_DATE'].dtype
print(column_dtype)

object

In [130]:
# Missing Values in a column
missing_values = us_uni_data['CLOSE_DATE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [131]:
unique_vals = us_uni_data['CLOSE_DATE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 45

**MERGE_ID- The ID of the merged institution.**

In [132]:
# Data type
column_dtype = us_uni_data['MERGE_ID'].dtype
print(column_dtype)

int64

In [133]:
# Missing Values in a column
missing_values = us_uni_data['MERGE_ID'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [134]:
unique_vals = us_uni_data['MERGE_ID'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 60

**ALIAS- The alias of the institution.**

In [135]:
# Data type
column_dtype = us_uni_data['ALIAS'].dtype
print(column_dtype)

object

In [136]:
# Missing Values in a column
missing_values = us_uni_data['ALIAS'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 1

In [137]:
unique_vals = us_uni_data['ALIAS'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 2075

**SIZE_SET- The size category of the institution based on enrollment.**

In [138]:
# Data type
column_dtype = us_uni_data['SIZE_SET'].dtype
print(column_dtype)

int64

In [139]:
# Missing Values in a column
missing_values = us_uni_data['SIZE_SET'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [140]:
unique_vals = us_uni_data['SIZE_SET'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 34

**INST_SIZE- The size of the institution based on enrollment.**

In [141]:
# Data type
column_dtype = us_uni_data['INST_SIZE'].dtype
print(column_dtype)

int64

In [142]:
# Missing Values in a column
missing_values = us_uni_data['INST_SIZE'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [143]:
unique_vals = us_uni_data['INST_SIZE'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 7

**PT_ENROLL- The number of part-time students enrolled at the institution.**

In [144]:
# Data type
column_dtype = us_uni_data['PT_ENROLL'].dtype
print(column_dtype)

int64

In [145]:
# Missing Values in a column
missing_values = us_uni_data['PT_ENROLL'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [146]:
unique_vals = us_uni_data['PT_ENROLL'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 2048

**FT_ENROLL- The number of full-time students enrolled at the institution.**

In [147]:
# Data type
column_dtype = us_uni_data['FT_ENROLL'].dtype
print(column_dtype)

int64

In [148]:
# Missing Values in a column
missing_values = us_uni_data['FT_ENROLL'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [149]:
unique_vals = us_uni_data['FT_ENROLL'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 2574

**TOT_ENROLL- The total number of students enrolled at the institution.**

In [150]:
# Data type
column_dtype = us_uni_data['TOT_ENROLL'].dtype
print(column_dtype)

int64

In [151]:
# Missing Values in a column
missing_values = us_uni_data['TOT_ENROLL'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [152]:
unique_vals = us_uni_data['TOT_ENROLL'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 2984

**HOUSING- The availability of on-campus housing at the institution.**

In [153]:
# Data type
column_dtype = us_uni_data['HOUSING'].dtype
print(column_dtype)

int64

In [154]:
# Missing Values in a column
missing_values = us_uni_data['HOUSING'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [155]:
unique_vals = us_uni_data['HOUSING'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 4

**DORM_CAP- The capacity of on-campus housing at the institution.**

In [156]:
# Data type
column_dtype = us_uni_data['DORM_CAP'].dtype
print(column_dtype)

int64

In [157]:
# Missing Values in a column
missing_values = us_uni_data['DORM_CAP'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [158]:
unique_vals = us_uni_data['DORM_CAP'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 1376

**TOT_EMP- The total number of employees at the institution.**

In [159]:
# Data type
column_dtype = us_uni_data['TOT_EMP'].dtype
print(column_dtype)

int64

In [160]:
# Missing Values in a column
missing_values = us_uni_data['TOT_EMP'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [161]:
unique_vals = us_uni_data['TOT_EMP'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 1501

**SHELTER_ID- The ID of the emergency shelter associated with the institution.**

In [162]:
# Data type
column_dtype = us_uni_data['SHELTER_ID'].dtype
print(column_dtype)

object

In [163]:
# Missing Values in a column
missing_values = us_uni_data['SHELTER_ID'].isna().sum()
print("Missing Value for this Column:\n", missing_values)

Missing Value for this Column:
 0

In [164]:
unique_vals = us_uni_data['SHELTER_ID'].nunique()
print(f"Number of Unique Values: {unique_vals}")

Number of Unique Values: 235